---
const sucursales = [
  {
    name: "Shopping Remeros Plaza",
    address:
      "Av. Sta. María de las Conchas 4711 1160, B1624 Tigre, Provincia de Buenos Aires, Argentina",
    phone: "11 6143-9669",
    whatsapp: "5491161439669",
    mapEmbed:
      "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3290.9888632913885!2d-58.612081!3d-34.427037999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bca69fb83732d1%3A0xfa5255b3fee0a006!2sRemeros%20Plaza!5e0!3m2!1ses-419!2sar!4v1748891535715!5m2!1ses-419!2sar",
    isSpecial: false,
  },
  {
    name: "Edificio North Coral Nordelt",
    address:
      "Blvd. de la Pl. 105, Rincón de Milberg, Provincia de Buenos Aires, Argentina",
    phone: "11 5160-0962",
    whatsapp: "5491151600962",
    mapEmbed:
      "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3292.000576306289!2d-58.65491762488441!3d-34.40133127302744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bca14ebcdc21e5%3A0x9f21f82581929962!2sBlvd.%20de%20la%20Pl.%20105%2C%20B1670%20Tigre%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1748891605077!5m2!1ses-419!2sar",
    isSpecial: false,
  },
  {
    name: "Suc. Delta Point",
    address:
      "Av. Sta. María de las Conchas 5555, Rincón de Milberg, Provincia de Buenos Aires",
    phone: "11 2530-3727",
    whatsapp: "5491125303727",
    mapEmbed:
      "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3291.935304763721!2d-58.63332602488434!3d-34.40299027302695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bca6a43839c9ed%3A0x3b2d65516911461!2sAv.%20Sta.%20Mar%C3%ADa%20de%20las%20Conchas%205555-5599%2C%20B1670%20Rinc%C3%B3n%20de%20Milberg%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1748891646429!5m2!1ses-419!2sar",
    isSpecial: false,
  },
  {
    name: "Suc. Vila Terra Center Villanueva",
    address:
      "Blvd. de Todos los Santos 100, B1623 Tigre, Provincia de Buenos Aires, Argentina",
    phone: "11 2479-0893",
    whatsapp: "5491124790893",
    mapEmbed:
      "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3292.3974536251267!2d-58.71709472488488!3d-34.39124237303121!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bca03562127581%3A0xddc397130623c17a!2sBlvd.%20de%20Todos%20los%20Santos%20100%2C%20B1623%20Dique%20Luj%C3%A1n%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1748891679797!5m2!1ses-419!2sar",
    isSpecial: false,
  },
  {
    name: "Suc. Altos del Encuentro",
    address:
      "Av. Gral. Juan Domingo Perón 4187, Benavidez, Provincia de Buenos Aires, Argentina",
    phone: "11 2357-7934",
    whatsapp: "5491123577934",
    mapEmbed:
      "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3290.5441213673485!2d-58.684502824882586!3d-34.438333173013945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bca3cf36ac8a55%3A0x48a1c427c6a2c0b4!2sAv.%20Gral.%20Juan%20Domingo%20Per%C3%B3n%204187%2C%20B1617%20Benavidez%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1748891709543!5m2!1ses-419!2sar",
    isSpecial: true,
  },
];
---

<section class="py-[100px]" id="sucursales">
  <div class="tcp-container">
    <span class="text-center block text-[#003450] mb-4 text-[18px]"
      >CLINISTORE</span
    >
    <h2
      class="font-bold text-[#003450] text-center text-[40px] leading-[100%] max-w-[500px] mx-auto"
    >
      TU VETERINARIA EN ZONA NORTE
    </h2>
    <p
      class="vertical-align-top text-center text-[#003450]/80 max-w-[350px] mx-auto text-[18px] leading-[110%] mt-4 mb-8"
    >
      Veamos cúal de nuestras sucursales <br /> te queda más cerca...
    </p>
    <div class="md:w-[840px] mx-auto grid md:grid-cols-2 gap-4">
      {
        sucursales.map((sucursal) => {
          return (
            <div
              class={`rounded-lg overflow-clip bg-[#02669A] ${sucursal.isSpecial ? "md:col-span-2 md:flex" : ""}`}>
              <div
                class={`bg-gray-300 h-[260px] ${sucursal.isSpecial ? "md:w-[calc(100%-64px)] md:h-full" : ""}`}>
                <iframe
                  class="w-full h-full"
                  src={sucursal.mapEmbed}
                  style="border:0;"
                  allowfullscreen=""
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"
                />
              </div>
              <div class="px-8 py-8">
                <h4 class="text-white text-[20px]">{sucursal.name}</h4>
                <p class="text-white/80 mt-2 text-[18px]">
                  {sucursal.address}
                  <br />
                  <br />
                  Tel.:{" "}
                  <a
                    href={`https://wa.me/${sucursal.whatsapp}?text=Hola!%20Me%20interesa%20coordinar%20una%20consulta%20en%20${encodeURIComponent(sucursal.name)}`}
                    target="_blank"
                    class="underline hover:text-white transition-colors">
                    {sucursal.phone}
                  </a>
                </p>
              </div>
            </div>
          );
        })
      }
    </div>
    <a
      class="cs-btn block mx-auto w-fit mt-10 shadow-[#003450] border-[#003450]"
      href="https://wa.me/5491151600962?text=Hola!%20Me%20interesa%20coordinar%20una%20consulta%20en%20alguna%20de%20sus%20sucursales"
      target="_blank">¡Coordinar visita!</a
    >
    <p class="text-[14px] text-[#003450]/80 text-center mt-4">
      ¡Esperamos tu mensaje! 🤗
    </p>
  </div>
</section>
